/* Report */

.report-container {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: space-around;
  background-color: #1d1e20;
}

.report-detail {
  color: white;
}

.report-detail div{
  margin-top: 1rem;
}

.caps {
  text-transform: uppercase;
}

.block {
  display: block;
}

.number{
  font-size: 1.5rem;
  font-weight: bold;
  margin-right: 0.5rem;
}

.homepage-container{
  display: flex;
  flex-direction: column;
}

.grey{
  color:grey;
}

.bold{
  font-weight: bold;
}

@media only screen and (min-width: 640px) {
.homepage-container{
  flex-direction: row;
  height: 100vh;
}
.report-container{
  flex-direction: column;
  justify-content: flex-start;
  padding-right: 3rem;
  padding-left: 3rem;
}
}